<!DOCTYPE html>
<html onload="f();">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Super4Minions</title>

    <link rel="stylesheet" href="/assets/style.css">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body >
    <div id="container">
        <aside class="control aside-2">
            <p>
                <label style="color:white">Select Country</label>
                <div id="select-container">

                </div>
            </p>
        </aside>
        <div id="d3-container">
            <div id="chart">
                <div id="row1">
                    <div id="chart_div"></div>
                    <div id="chart_div2"></div>
                </div>
                <div id="row2">
                    <div id="chart_div3"></div>
                    <div id="chart_div4"></div>
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="assets/js/bundle.js"></script>
<script>
 function f (){
  function request(value) {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
          }
      };
      xhr.open("POST",'/', true);
      xhr.send(value);
  }
  console.log("select")
  var select = document.getElementById("myList");
  console.log(select);
  select.addEventListener('change',  function(){

        var value =select.value;
        request(value)

  });


}


</script>


</html>
